@import 'utilities.css';
:root{
	--primary:#FF7F50;
	--pure:#000000;
	--dark:rgb(186,217,223);
	--ternary:#898989;
	--light:#F2F2F2;
}

body{
	font-family: 'Poppins',sans-serif !important;
}

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
}

header{
	background:var(--dark);
}

.container{
	padding-left: 0rem !important;
	width: 100% !important;
	position: relative !important;
	margin-left: 0vw;
}

header nav .left a{
	color:var(--pure) !important;
	font-size: 1.7rem !important;
	padding-left: 0rem;
	text-decoration: none;
	margin-right: 2rem;
	text-transform: uppercase;
	transition:all ease;
	width: 1000vw;
	position: relative;
	height: 250px !important;

}
header nav .left a:hover{
	color:var(--primary) !important;
}

header nav{
	padding: 1rem 0 !important;
	background: white !important;
	margin: auto 0 !important;
}

header nav .branding{
	margin-right: 3rem;
}

header nav .branding img{
	margin-bottom: 2rem;
	width: 40px;
}

.hero .left img{
	margin-top: 10rem;
	width: 400px;
}

.hero .right{
	color : var(--pure);
	margin-left: 4rem;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
}

.hero .right h6{
	font-size: 3.7rem;
	color:var(--primary);
	margin-bottom: 0.5rem;
}

.hero .right h1{
	font-size: 5rem;
	font-weight:50;
	line-height: 1.2;
	margin-bottom: 2rem;
}

.hero .right h1 span{
	color:var(--primary);
}

.hero .right p{
	font-size: 1.9rem;
	line-height: 3rem;
	margin-bottom: 2rem;
}



section{
	padding:6rem 0;
}

section.about h1{
	margin-bottom: 1rem;
	font-size: 2.9rem;
	font-weight: 400;
}

section.about h1 span{
	color: var(--primary);
}

section.about h3{
	margin-bottom: 1rem;
	font-size: 1.9rem;
	font-weight: 400;
}

section.about p{
	font-family: 'Lato',sans-serif !important;
	color: var(--ternary) !important;
	line-height: 1.8 !important;
	font-size: 1.8rem !important;
	margin-bottom: 2rem !important;
}

section.about .social{
	display: flex !important;
}

section.about .social a{
	margin-left: 15rem !important;
	color:var(--pure) !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 45px !important;
	height: 45px !important;
	border-radius: 50% !important;
	-webkit-border-radius:50% !important;
	-moz-border-radius:50% !important;
	-ms-border-radius:50% !important;
	-o-border-radius:50% !important;
	margin-right: 0.3rem !important;
	transition: all 0.3s ease !importants;
}

section.about .social a:hover{
	background: var(--primary) !important;
}

section.about .social a img{
	width: 100% !important;
	height: 100% !important;
	padding: 0.4rem !important;
}

.middle {
   margin:0 auto !important;
   text-align: center !important;
   align-items: center !important;	
}

.skills {
  text-align: right;
  padding-bottom: 5px;
  color: white;
}

.html {width: 70%; background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(193,188,189,1) 35%, rgba(23,193,227,1) 100%);}
.css {width: 40%; background-image: linear-gradient(90deg, rgba(180,136,58,1) 0%, rgba(143,253,29,1) 50%, rgba(69,252,228,0.9612219887955182) 100%);}
.js {width: 45%; background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,194,1) 50%, rgba(252,176,69,1) 100%);}
.php {width: 40%; background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(214,35,59,1) 35%, rgba(23,193,227,1) 100%);}

.skillp{
	color: var(--pure);
	margin-left: 0.9rem;
	margin-top:1.2rem;
	line-height: 1.8;
	font-size: 1.6rem;
	margin-bottom: 0.7rem;
}

.skillh1{
	color: var(--pure);
	margin-top: 5rem;
	text-align: center;
	justify-content: center;
	margin-bottom: 1rem;
	font-size: 2.9rem;
	font-weight: 400;
}

.h2edus{
	margin-top:1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem; 
}

.h2exp{
	color:var(--primary);
	margin-top:1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem; 
}

[data-name="md-hoveringtr"] tr:hover{color: var(--primary) !important}

.footer{
	background: white;
	color: var(--pure);
}

 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 300px;
 margin-top: 100px;
 left: 50%;
}

.marginalign{
	margin-left: 40px;
	padding-bottom: 1px;
}

.footer .footer-content .contact-form .contact-input{
	background: white;
	color: var(--primary);
	border-color: var(--primary);
	margin-left: 40px;
	margin-bottom: 25px;
	line-height: 0.5rem;
	padding-left: 2rem;
	padding: 0.7rem 1.2rem;
}

.footer .footer-bottom p{
	background: white;
	color: var(--primary);
	height: 20px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 10px;
}

.footer .footer-bottom span{
	color: black;
}